{% extends 'layout/base.html' %}


{% block content %}

<div class="container-fluid mb-4">
    <div class="container">
        {% if validlink %}
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2 text-primary"> New password</div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"> Login</button>
        </form>
        {% else %}
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2 text-danger"> This url is invalid</div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock content %}
